.gallery {
    --s: 300px; /* controls the size */
  
    display: grid;
    gap: 10px;
    grid: auto-flow var(--s) / repeat(2, var(--s));
        // grid-template-columns: repeat(2, var(--s));
        // grid-template-rows: repeat(2, var(--s))

        // grid: repeat(2,var(--s)) / repeat(2,var(--s));
    
        place-items: center;
  }
  .gallery > img {
    width: 100%; 
    object-fit: cover;
  }